<section>
  <div class="product">
    <img src="/products/product1.jpeg" alt="The cover of product" />
    <div class="description">
      <h3>Macbook Pro</h3>
      <h5>$20.00</h5>
    </div>
  </div>
  <a href="/checkout-session">
    <button type="submit" id="checkout-button">Checkout</button>
  </a>
</section>