<main>
  <div class="b-example-divider"></div>
  <div class="container px-4 py-5" id="custom-cards">
    <h1>Chat Room</h1>
    <div id="messages"></div>
    <input id="chat-input" type="text" placeholder="Type your message here..." class="form-control">

    <!-- <h1 class="pb-2 border-bottom">Demo Stripe</h1>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/checkout-hosted-page" class="text-decoration-none text-white">Checkout Hosted Page</a></h3>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/embeded-checkout" class="text-decoration-none text-white">Embedded Checkout</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/web-elements-checkout" class="text-decoration-none text-white">Web Elements</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/custom-form-checkout" class="text-decoration-none text-white">Custom Form With Payment Element</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/custom-form-checkout-card-elements" class="text-decoration-none text-white">Custom Form Other Elements</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/bg.jpeg');">
          <div class="d-flex flex-column h-100 p-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><a href="/express-checkout-element" class="text-decoration-none text-white">Express Checkout Element</a></h3>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</main>