<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
  <script src="embeded/return.js" defer></script>
</head>
<body>
  <section id="success" class="hidden">
    <p>
      Payment complete! We appreciate your business! A confirmation email will be sent to &nbsp; <span id="customer-email">test</span>.

      If you have any questions, please email &nbsp; <a href="mailto:orders@example.com">orders@example.com</a>.
    </p>
  </section>
</body>
</html>