<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">
      <div id="payment-message" class="hidden"></div>
    </h1>
    <a href="/">Home</a>
  </div>
</main>
